name: Build and Release Determa

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Compile
      shell: cmd
      run: build.bat
      
    - name: Archive Release
      uses: thedoctor0/zip-release@0.7.1
      with:
        type: 'zip'
        filename: 'determa-windows-x64.zip'
        directory: 'bin'
        path: 'determa.exe'
        
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: bin/determa-windows-x64.zip
        asset_name: determa-windows-x64.zip
        asset_content_type: application/zip

  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Compile
      run: |
        chmod +x build.sh
        ./build.sh
      
    - name: Archive Release
      run: |
        cd bin
        tar -czvf determa-linux-x64.tar.gz determa
        
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: bin/determa-linux-x64.tar.gz
        asset_name: determa-linux-x64.tar.gz
        asset_content_type: application/gzip

  build-mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Compile
      run: |
        chmod +x build.sh
        ./build.sh
      
    - name: Archive Release
      run: |
        cd bin
        tar -czvf determa-macos-x64.tar.gz determa
        
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: bin/determa-macos-x64.tar.gz
        asset_name: determa-macos-x64.tar.gz
        asset_content_type: application/gzip